:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --accent-color: #0563bb;
  --contrast-color: #ffffff;
}

:root {
  --header-background-color: #040b14;
}

:root {
  scroll-behavior: smooth;
}

@media (max-width: 1199px) {
  .header {
    background-color: var(--background-color);
    border-right: 1px solid
      color-mix(in srgb, var(--default-color), transparent 90%);
    width: 300px;
    left: -100%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .header ~ main {
    margin-left: 160px;
  }

  .header ~ main .hero {
    margin-left: -160px;
    width: 100vw;
  }
}

* {
  font-style: none;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  font-family: var(--heading-font);
  height: auto;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-style: italic;
}

.icon {
  position: relative;
  top: 3rem;
  font-size: 2rem;
}

.icon-size {
  font-size: 5rem;
}

.social-size {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}

.social-size:hover {
  font-size: 1.7rem;
  height: 1rem;
}

/* Navbar */
#navbar {
  top: 25%;
  position: fixed;
  margin-left: 25px;
  width: 6rem;
  font-size: 1.2rem;
  transition: width 1ms ease;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  z-index: 1032;
  background: transparent;
}

.navbar-nav {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav-link {
  display: flex;
  text-decoration: none;
  text-align: center;
  border: transparent 3px solid;
  border-radius: 25px;
}

#navbar .nav-link:hover {
  background: #17a2b8;
  color: #333;
  border-radius: 5px;
}

#navbar .nav-link.active {
  background: #17a2b8;
  color: #333;
  border-radius: 25px;
}

.link-text {
  display: none;
}

.nav-link:hover {
  width: 10rem;
}

.extend:hover {
  width: 15rem;
}

.nav-link:hover .link-text {
  display: block;
}

/* Hero */
#hero {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hero2.jpg) no-repeat center center/cover;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#hero .content {
  color: #000;
  padding: 20px;
  text-align: center;
}

#hero .social {
  display: flex;
  list-style: none;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e1f5fe;
  color: #ffffff, white;
  line-height: 2rem;
  width: 1600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;

  padding-top: 2rem;
  padding-bottom: 2rem;
  border: #000 5px solid;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 3rem;
}

.about-column {
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.about-image {
  border-radius: 75px;
  width: 320px;
  height: 320px;
}

/* Work experience */
#work-exp {
  text-align: center;
  background-color: #e1f5fe;
  color: #ffffff, white;
  line-height: 2rem;
  width: 1600px;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: #000 5px solid;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 3rem;
}

.work-container {
  text-align: left;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.section {
  margin-bottom: 40px;
  position: relative;
  padding-left: 30px;
}

.section:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 2px;
  padding: 2px;
  background: #ddd;
}

.timeline-item {
  position: relative;
  padding: 10px 0;
}

.timeline-item:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #000;
  border: 10px solid #000;
  border-radius: 50%;
}

/* Technology */
#technology {
  text-align: center;
  width: 1600px;
  margin-top: 1rem;
  background-color: #e1f5fe;
  color: #ffffff, white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border: #000 5px solid;
  border-radius: 3rem;
}

#technology .tech-container {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 5fr 5fr 5fr;
  justify-content: space-evenly;
  justify-items: center;
}

.tech-icon {
  border: #000 1px solid;
  border-radius: 5rem;
  margin: 1rem;
}

#technology .tech-container ul {
  list-style: none;
  width: 300px;
}

/* Project */
#project {
  display: grid;
  text-align: center;
  width: 1600px;
  margin-top: 1rem;
  background-color: #e1f5fe;
  color: #ffffff, white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 1rem 4rem 4rem 4rem;
  border: #000 5px solid;
  border-radius: 3rem;
}

#project .project-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 1400px;
  padding: 3rem;
  align-items: center;
  border: #000 3px solid;
}

#project .card {
  padding: 2rem;
}

/* Contact */
#contact {
  text-align: center;
  width: 1600px;
  margin-top: 1rem;
  background-color: #e1f5fe;
  color: #ffffff, white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  border: #000 5px solid;
  border-radius: 3rem;
}

#contact .contact-container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  height: 25rem;
}

.info li {
  list-style: none;
  text-align: left;
}

#contact .form-control {
  margin: 0.5rem;
}

#contact .message-us {
  display: grid;
  grid-template-columns: 4fr 1rem 4fr;
  grid-template-rows: repeat(5, 4fr);
}

.email-control {
  grid-column: 3/4;
}
.subject-control {
  grid-column: 1/4;
  grid-row: 2/3;
}

.message-control {
  grid-row: 3/7;
  grid-column: 1/4;
}

.btn {
  margin-top: 15px;
  display: inline-grid;
  justify-content: center;
  justify-self: center;
  width: 20rem;
  border: transparent 5px solid;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 30px;
  font-size: 1rem;
  text-decoration: none;
}

#contact .message-us .btn {
  border: #000 3px solid;
  grid-column: 1/4;
}

/* Footer */
#main-footer {
  display: flex;
  flex-direction: column;
  width: 1600px;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.footer-container {
  background-color: #e1f5fe;
  color: #ffffff, white;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: #000 5px solid;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.footer-container .social {
  display: flex;
  list-style: none;
  background: transparent;
  justify-content: center;
}

.bottom-footer {
  background-color: var(--header-background-color);
  color: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: transparent 5px solid;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
